<h2>Welcome to the Tech Blog</h2>
{{#if loggedIn}}
  <a href="/dashboard">Dashboard</a>
  <a href="/logout">Logout</a>
{{else}}
  <a href="/login">Login</a>
  <a href="/signup">Sign Up</a>
{{/if}}
{{#each posts}}
  <article class="post">
    <h3>{{title}}</h3>
    <p>{{content}}</p>
    <p>Created by: {{User.username}}</p>
    <a href="/post/{{id}}">Read More</a>
  </article>
{{/each}}
